body {
  min-height: 2000px;
  padding-top: 70px;
  background-image: url('http://johnstantongeddes.org/assets/img/natural_paper/natural_paper.png');
  background-repeat: repeat; 
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
     color: white;
}

.navbar-default .navbar-nav:hover,
.navbar-default .navbar-nav:focus {
     color: white;
}


h1 {color: #216b15; }
h2 {color: #216b15; }
h3 {color: #216b15; }
h4 {color: #216b15; }
h5 {color: #216b15; }


<!-- offset anchor to account for fixed header -->
a.anchor{display: block; position: relative; top: -250px; visibility: hidden;}
