    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}/index.html">John Stanton-Geddes</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.url }}/categories.html">Categories</a></li>
            <li><a href="{{ site.url }}/tags.html">Tags</a></li>
        	<li><a href="{{ site.url }}/about.html">About</a></li>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <form class="navbar-form navbar-left" role="search" method="get" action="http://google.com/search">
               <input type="hidden" name="q" value="site:johnstantongeddes.org" />
               <input type="text" class="search-query" name="q" />
               <button type="submit" class="btn btn-default btn-sm">
                 <span class="glyphicon glyphicon-repeat"></span>
               </button>
    		</form>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>