    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">John Stanton-Geddes</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="research.html" class="dropdown-toggle" data-toggle="dropdown">Research <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://scholar.google.com/citations?user=jwSvNVcAAAAJ">Publications</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Research Projects</li>
                <li><a href="research.html">Adaptation to climate</a></li>
                <li><a href="research.html#medicago">Legume - rhizobia genetics</a></li>
                <li><a href="research.html#rangelimits">Species' range limits</a></li>
              </ul>
            <li><a href="teaching.html">Teaching</a></li>
            <li><a href="labnotebook.html">Lab notebook</a></li>
            <li><a href="about.html"><i>Curriculum vitae</i></a></li>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <form class="navbar-form navbar-left" role="search" method="get" action="http://google.com/search">
               <input type="hidden" name="q" value="site:johnstantongeddes.org" />
               <input type="text" class="search-query" name="q" />
               <button type="submit" class="btn btn-default btn-sm">
                 <span class="glyphicon glyphicon-repeat"></span>
               </button>
    		</form>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
