<div class="navbar navbar-inverse navbar-static-top">
	<div class="navbar-inner">
    	<a class="brand" href="index.html">John Stanton-Geddes</a>
        	<ul class="nav">
                <li>
                    <a href="research.html">Research</a>
                </li>
                <li>
                    <a href="teaching.html">Teaching</a>
                </li>                  
                <li>
                    <a href="labnotebook.html">Lab notebook</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
        	</ul>
    </div>
</div>
       
