---
layout: html5
---

<div class="navbar navbar-inverse navbar-static-top">
            <div class="navbar-inner">
                <a class="brand" href="{{ site.url }}/index.html">John Stanton-Geddes</a>
                <ul class="nav">
                    <li>
                        <a href="{{ site.url }}/categories.html">Categories</a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/tags.html">Tags</a>
                    </li>                  
                </ul>
</div>

<div class="span3">
	</br>
	<img src="{{ site.url }}/assets/img/glyphicons_045_calendar.png" /> {{ page.date | date: "%d %B %Y" }}	
        </br>  
	</br> 
	<img src="{{ site.url }}/assets/img/glyphicons_066_tags.png" /> <p> {{ page.tags | array_to_sentence_string }} </p>
</div>

<div class="span9">
	<h1> {{ page.title }} </h1>

	{{ content }}

</div>

